
@{
    ViewBag.Title = "Nông sản Việt Nam";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var featureProduct = (List<dacsanviet.Models.Entity.Product>)ViewBag.featureProduct;
    var getCategory = (List<dacsanviet.Models.Entity.ProductCategory>)ViewBag.getCategory;
    var newProduct = (List<dacsanviet.Models.Entity.Product>)ViewBag.newProduct;
    var topSellProduct = (List<dacsanviet.Models.Entity.Product>)ViewBag.topSellProduct;
    long min = 10000;
}

@section jsSection{
    <script src="~/Asset/Client/js/home.js"></script>
    <script type="text/javascript">
        btnTabs(@min);
    </script>
}

<!--Slider start-->
@*<div class="slider_area">
        <div class="slider_list  owl-carousel">
            <div class="single_slide" style="background-image: url(Asset/Client/img/slider/1.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="slider__content">
                                <p>Sale off 10% trong tuần này</p>
                                <h2> Khỏe mạnh <strong> mỗi ngày </strong> </h2>
                                <h3>với 1 ly nước <strong> trái cây</strong></h3>
                                <h6>Giá chỉ từ<span style="padding-left:10px">19.000 vnđ</span></h6>
                                <div class="slider_btn">
                                    <a href="shop.html">Mua ngay nào!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slide" style="background-image: url(Asset/Client/img/slider/2.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="slider__content">
                                <p>Sale off 10% trong tuần này</p>
                                <h2>Cung cấp <strong> sản phẩm</strong></h2>
                                <h3>tốt nhất<strong> dành cho bạn</strong></h3>
                                <h6>Giá chỉ từ<span style="padding-left: 10px;">39.999 vnđ</span></h6>
                                <div class="slider_btn">
                                    <a href="shop.html">Mua ngay nào!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<!--Slider end-->
<!--Banner area start-->
<div class="banner_area home1_banner mt-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_banner">
                    <a href="#">
                        <img src="~/Asset/Client/img/banner/1.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_banner">
                    <a href="#">
                        <img src="~/Asset/Client/img/banner/2.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_banner banner_three">
                    <a href="#">
                        <img src="~/Asset/Client/img/banner/3.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Banner area end-->
<!--Features product area-->
<div class="features_product pt-90">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="section_title space_2 text-left">
                    <h3>Bán cực chạy</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="features_product_active owl-carousel">

                @foreach (var item in topSellProduct)
                {
                    int discount = (int)((1 - (item.promotionPrice / item.price)) * 100);
                    <div class="col-lg-2">
                        <div class="single__product">
                            <div class="single_product__inner">
                                @*<span class="new_badge">new</span>*@
                                @if (item.promotionPrice != null)
                                {
                                    <span class="discount_price">-@discount%</span>
                                }
                                <div class="product_img">
                                    <a href="#">
                                        <img src="@item.productImage" alt="">
                                    </a>
                                </div>
                                <div class="product__content text-center">
                                    <div class="produc_desc_info">
                                        <div class="product_title">
                                            <h4><a href="product-details.html">@item.productName</a></h4>
                                        </div>
                                        <div class="product_price">
                                            @if (item.promotionPrice != null)
                                            {
                                                <p>@item.promotionPrice.Value.ToString("N0") ₫</p>
                                                <p class="origin_price">@item.price.Value.ToString("N0") ₫</p>
                                            }
                                            else
                                            {
                                                <p>@item.price.Value.ToString("N0") ₫</p>
                                            }
                                        </div>
                                    </div>
                                    <div class="product__hover">
                                        <ul>
                                            <li><a href="#" title="Thêm vào giỏ hàng"><i class="ion-android-cart"></i></a></li>
                                            @*<li><a class="cart-fore" href="#" data-toggle="modal" data-target="#my_modal" title="Quick View"><i class="ion-android-open"></i></a></li>*@
                                            <li><a href="" title="Chi tiết sản phẩm"><i class="ion-clipboard"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<!--Features product end-->
<!--Shipping area start-->
<div class="shipping_area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="shipping_list d-flex justify-content-between flex-xs-column">
                    <div class="single_shipping_box d-flex">
                        <div class="shipping_icon">
                            <img src="Asset/Client/img/ship/1.png" alt="shipping icon">
                        </div>
                        <div class="shipping_content">
                            <h6>Miễn phí ship </h6>
                            <p>Áp dụng cho đơn hàng trên 120.000 vnđ</p>
                        </div>
                    </div>
                    <div class="single_shipping_box one d-flex">
                        <div class="shipping_icon">
                            <img src="Asset/Client/img/ship/2.png" alt="shipping icon">
                        </div>
                        <div class="shipping_content">
                            <h6>Hoàn tiền</h6>
                            <p>Nếu sản phẩm không đạt chuẩn VSATTP</p>
                        </div>
                    </div>
                    <div class="single_shipping_box two d-flex">
                        <div class="shipping_icon">
                            <img src="Asset/Client/img/ship/3.png" alt="shipping icon">
                        </div>
                        <div class="shipping_content">
                            <h6>Giảm giá thành viên</h6>
                            <p>Hỗ trợ khách hàng 24/7</p>
                        </div>
                    </div>
                    <div class="single_shipping_box three d-flex">
                        <div class="shipping_icon">
                            <img src="Asset/Client/img/ship/4.png" alt="shipping icon">
                        </div>
                        <div class="shipping_content">
                            <h6>Hỗ trợ phản hồi 24/7</h6>
                            <p>Miễn phí vận chuyển trên mọi hóa đơn</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Shipping area end-->
<!--shop product area start-->
<!--shop product area end-->
<!--Banner area start-->
<div class="banner_area home1_banner2 pb-90">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="single_banner">
                    <a href="#">
                        <img src="Asset/Client/img/banner/big-1.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="single_banner">
                    <a href="#">
                        <img src="Asset/Client/img/banner/big-2.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Banner area end-->
<!--Recommended product area start-->
<div class="recommended_product">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="shop_product_head d-flex justify-content-between mb-30">
                    <div class="section_title space_2 text-left">
                        <h3>Dành riêng cho bạn</h3>
                    </div>
                    <div class="home_shop_product text-right">
                        <ul class="product-tab-list nav d-flex flex-wrap justify-content-end" role="tablist">
                            @foreach (var item in getCategory)
                            {
                                if (min > item.productCategory_ID)
                                {
                                    min = item.productCategory_ID;
                                    <li class="tabs active"><a href="#Category_@item.productCategory_ID" onclick="btnTabs(@item.productCategory_ID)" data-toggle="tab" role="tab" aria-controls="Category_@item.productCategory_ID">@item.name</a></li>
                                }
                                else
                                {
                                    <li class="tabs"><a href="#Category_@item.productCategory_ID" onclick="btnTabs(@item.productCategory_ID)" data-toggle="tab" role="tab" aria-controls="Category_@item.productCategory_ID">@item.name</a></li>
                                }
                            }

                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="tab-content">

        </div>
    </div>
</div>
<!--Recommended product area end-->
<!--New product area-->
<div class="new_product">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="section_title space_2 text-left">
                    <h3>Sản phẩm mới</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="features_product_active owl-carousel">

                @foreach (var item in newProduct)
                {
                    var discount = (int)((1 - (item.promotionPrice / item.price)) * 100);
                    <div class="col-lg-2">
                        <div class="single__product">
                            <div class="single_product__inner">
                                @*<span class="new_badge">new</span>*@
                                @if (item.promotionPrice != null)
                                {
                                    <span class="discount_price">-@discount%</span>
                                }
                                <div class="product_img">
                                    <a href="#">
                                        <img src="@item.productImage" alt="">
                                    </a>
                                </div>
                                <div class="product__content text-center">
                                    <div class="produc_desc_info">
                                        <div class="product_title">
                                            <h4><a href="/">@item.productName</a></h4>
                                        </div>
                                        <div class="product_price">

                                            @if (item.promotionPrice != null)
                                            {
                                                <p>@item.promotionPrice.Value.ToString("N0") ₫</p>
                                                <p class="origin_price">@item.price.Value.ToString("N0") ₫</p>
                                            }
                                            else
                                            {
                                                <p>@item.price.Value.ToString("N0") ₫</p>
                                            }
                                        </div>
                                    </div>
                                    <div class="product__hover">
                                        <ul>
                                            <li><a href="#"><i class="ion-android-cart" title="Thêm vào giỏ hàng"></i></a></li>
                                            @*<li><a class="cart-fore" href="#" data-toggle="modal" data-target="#my_modal" title="Quick View"><i class="ion-android-open"></i></a></li>*@
                                            <li><a href="product-details.html" title="Chi tiết sản phẩm"><i class="ion-clipboard"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<!--new product end-->
<!--Banner area start-->
<div class="banner_area banner_area-2 pb-90">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="single_banner">
                    <a href="#">
                        <img src="Asset/Client/img/banner/banner-4.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-4">
                <div class="single_banner">
                    <a href="#">
                        <img src="Asset/Client/img/banner/banner-5.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="single_banner">
                    <a href="#">
                        <img src="Asset/Client/img/banner/banner-6.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Banner area end-->
<!--Best seller product -->
<div class="best_seller_product">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="section_title space_2 text-left">
                    <h3>Sản phẩm đặc trưng</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="best_selling_product_list owl-carousel">
                    <div class="best_selling_product">
                        <div class="single_small_product mb-30">
                            <div class="product_thumb">
                                <a href="#">
                                    <img src="Asset/Client/img/product/1.jpg" alt="">
                                </a>
                            </div>
                            <div class="product_content">
                                <h4><a href="product-details.html">Wayfarer Messenger Bag</a></h4>
                                <div class="product_ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <div class="product_price">
                                    <span class="regular_price">$57.50</span>
                                    <span class="old_price">$62.23</span>
                                </div>
                            </div>
                        </div>
                        <div class="single_small_product ">
                            <div class="product_thumb">
                                <a href="#">
                                    <img src="Asset/Client/img/product/2.jpg" alt="">
                                </a>
                            </div>
                            <div class="product_content">
                                <h4><a href="#">Field Messenger</a></h4>
                                <div class="product_ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product_price">
                                    <span class="regular_price">$65.23</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="best_selling_product">
                        <div class="single_small_product mb-30">
                            <div class="product_thumb">
                                <a href="#">
                                    <img src="Asset/Client/img/product/4.jpg" alt="">
                                </a>
                            </div>
                            <div class="product_content">
                                <h4><a href="product-details.html">Impulse Duffle</a></h4>
                                <div class="product_ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <div class="product_price">
                                    <span class="regular_price">$62.23</span>
                                    <span class="old_price">$62.23</span>
                                </div>
                            </div>
                        </div>
                        <div class="single_small_product ">
                            <div class="product_thumb">
                                <a href="#">
                                    <img src="Asset/Client/img/product/3.jpg" alt="">
                                </a>
                            </div>
                            <div class="product_content">
                                <h4><a href="product-details.html">Sprite Yoga Straps1</a></h4>
                                <div class="product_ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product_price">
                                    <span class="regular_price">$46.99</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="best_selling_product">
                        <div class="single_small_product mb-30">
                            <div class="product_thumb">
                                <a href="#">
                                    <img src="Asset/Client/img/product/5.jpg" alt="">
                                </a>
                            </div>
                            <div class="product_content">
                                <h4><a href="product-details.html">Cheese Butter Burger</a></h4>
                                <div class="product_ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <div class="product_price">
                                    <span class="regular_price">$62.23</span>
                                    <span class="old_price">$62.23</span>
                                </div>
                            </div>
                        </div>
                        <div class="single_small_product ">
                            <div class="product_thumb">
                                <a href="#">
                                    <img src="Asset/Client/img/product/6.jpg" alt="">
                                </a>
                            </div>
                            <div class="product_content">
                                <h4><a href="product-details.html">Voyage Yoga Bag</a></h4>
                                <div class="product_ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product_price">
                                    <span class="regular_price">$50.23</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="best_selling_product">
                        <div class="single_small_product mb-30">
                            <div class="product_thumb">
                                <a href="#">
                                    <img src="Asset/Client/img/product/7.jpg" alt="">
                                </a>
                            </div>
                            <div class="product_content">
                                <h4><a href="product-details.html">Chaz Kangeroo Hoodie3</a></h4>
                                <div class="product_ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <div class="product_price">
                                    <span class="regular_price">$56.20</span>
                                    <span class="old_price">$62.23</span>
                                </div>
                            </div>
                        </div>
                        <div class="single_small_product ">
                            <div class="product_thumb">
                                <a href="#">
                                    <img src="Asset/Client/img/product/8.jpg" alt="">
                                </a>
                            </div>
                            <div class="product_content">
                                <h4><a href="product-details.html">Fusion Backpac</a></h4>
                                <div class="product_ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product_price">
                                    <span class="regular_price">$76.50</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="best_selling_product">
                        <div class="single_small_product mb-30">
                            <div class="product_thumb">
                                <a href="#">
                                    <img src="Asset/Client/img/product/9.jpg" alt="">
                                </a>
                            </div>
                            <div class="product_content">
                                <h4><a href="product-details.html">Healthy Melt</a></h4>
                                <div class="product_ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <div class="product_price">
                                    <span class="regular_price">$67.50</span>
                                    <span class="old_price">$62.23</span>
                                </div>
                            </div>
                        </div>
                        <div class="single_small_product ">
                            <div class="product_thumb">
                                <a href="#">
                                    <img src="Asset/Client/img/product/10.jpg" alt="">
                                </a>
                            </div>
                            <div class="product_content">
                                <h4><a href="product-details.html">Donec sem tellus</a></h4>
                                <div class="product_ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product_price">
                                    <span class="regular_price">$65.50</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--Best seller product  end-->
